{erl_opts, [debug_info]}.

{deps, [{erldns, {git, "https://github.com/tsloughter/erldns.git", {branch, "revamp"}}},
        {dns, {git, "https://github.com/tsloughter/dns_erlang.git", {branch, "hex-deps"}}},

        recon,
        eql,
        jsx,
        {elli, "~> 3.2.0"},
        {grpcbox, "~> 0.11.0"},
        {pgo, "~> 0.8.0"}]}.

{relx, [{release, {service_discovery, {git, long}},
         [service_discovery,
          service_discovery_http,
          recon]},

        {sys_config_src, "./config/sys.config.src"},
        {vm_args_src, "./config/vm.args.src"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true},

        {overlay, [{copy, "sql/*", "sql/"},
                   {copy, "zones/*", "zones/"}]}]}.

{shell, [{apps, [service_discovery, service_discovery_http, recon]},
         {env_file, "deployment/base/default.env"}]}.
{dist_node, [{name, 'sd@127.0.0.1'}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_src, false},
                            {include_erts, true},
                            {debug_info, strip}]}]},

            {test, [{erl_opts, [nowarn_export_all]}]}]
}.

{project_plugins, [covertool]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

%% generate junit xml report from test results
{ct_opts, [{ct_hooks, [cth_surefire]}]}.

{overrides, [{override, base32, [{plugins, []}]}]}.
