{erl_opts, [debug_info]}.

{deps, [{erldns, {git, "https://github.com/tsloughter/erldns.git", {branch, "revamp"}}},
        {dns, {git, "https://github.com/tsloughter/dns_erlang.git", {branch, "hex-deps"}}}]}.

{relx, [{release, {service_discovery, "0.1.0"},
         [service_discovery]},

        {sys_config_src, "./config/sys.config.src"},
        {vm_args_src, "./config/vm.args.src"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{shell, [{apps, [service_discovery]},
         {config, "config/sys.config"}]}.
{dist_node, [{name, 'sd@127.0.0.1'}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {debug_info, strip}]}]
            },

            {test, [{erl_opts, [nowarn_export_all]}]}]
}.

{project_plugins, [covertool %% rebar_docker
                  ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

%% generate junit xml report from test results
{ct_opts, [{ct_hooks, [cth_surefire]}]}.
