{erl_opts, [debug_info]}.
{deps, [{erldns, {git, "https://github.com/tsloughter/erl-dns.git", {branch, "master"}}},
        {dns, {git, "https://github.com/tsloughter/dns_erlang.git", {branch, "hex-deps"}}}]}.

{relx, [{release, {service_discovery, "0.1.0"},
         [service_discovery,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
